@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

:root {
  --primary-color: #273c75;
}

* {
  box-sizing: border-box;
  font-family: 'Nanum Gothic';
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  background-color: #f4f4f4;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  min-height: 80%;
  width: calc(100% - 100px);
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

@media (min-width: 800px) {
  article {
    width: 550px;
  }
}

.coin-img {
  width: 150px;
}

h1 {
  color: var(--primary-color);
  font-size: 18px;
}

p {
  text-align: center;
  font-size: 14px;
}

.container .currency {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px;
}

.currency select {
  appearance: none;
  padding: 10px 25px 10px 10px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-position: right 8px top 50%, 0, 0;
  background-size: 12px auto, 100%;
  background-repeat: no-repeat;
}

.currency input {
  background: transparent;
  border: none;
  text-align: right;
  font-size: 22px;
}

.swap-rate-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swap-rate-container .btn {
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: 10px 18px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 10px var(--primary-color);
  transition: box-shadow 0.3s;
  font-size: 12px;
}

.swap-rate-container .btn:hover {
  box-shadow: none;
}

.swap-rate-container .rate {
  color: var(--primary-color);
  font-size: 12px;
  font-weight: 600;
}

input:focus,
button:focus,
select:focus {
  outline: none;
}

@media (max-width: 800px) {
  .currency input {
    width: 200px;
  }
}
