@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Nanum Gothic';
}

/* #a29bfe #6c5ce7 */

body {
  margin: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f4f4f4;
}

.container {
  display: flex;
  width: 100%;
  max-width: 800px;
  min-height: 500px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}

aside {
  width: 250px;
  padding: 10px 20px;
  border-right: 1px solid lightgrey;
}

aside button {
  display: block;
  border: none;
  background-color: #6c5ce7;
  color: white;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s;
  font-size: 13px;
}

aside button:hover {
  box-shadow: 0px 2px 10px #6c5ce7;
}

main {
  flex: 1;
  padding: 10px 20px;
}

h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  margin: 0 0 20px;
  font-size: 20px;
  padding: 0px 5px 10px 5px;
}

h3 {
  background-color: #a29bfe;
  color: white;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  margin: 20px 0;
  font-size: 20px;
}
