@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
  --bg-color: white;
  --font-color: black;
  --label-color: #777;
}

[data-theme='dark'] {
  --bg-color: #2d3436;
  --font-color: white;
  --label-color: white;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9fafb;
  font-family: 'Nanum Gothic';
  font-size: 14px;
}

.container {
  background-color: var(--bg-color);
  color: var(--font-color);
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  transition: background 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

@media (min-width: 512px) {
  .container {
    width: calc(100% - 200px);
    border-radius: 5px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 400px;
    border-radius: 5px;
  }
}

.toggle {
  display: inline-block;
  width: 50px;
  height: 25px;
  background-color: #3498db;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.3s ease-in-out;
}

.toggle:hover {
  box-shadow: none;
}

.toggle::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background-color: white;
  transition: transform 0.3s ease-in-out;
}

.mode:checked + .toggle {
  background-color: grey;
  box-shadow: 0px 1px 5px white;
}

.mode:checked + .toggle::before {
  transform: translate(25px, 0px);
}

.mode:checked + .toggle:hover {
  box-shadow: none;
}

.mode {
  display: none;
}

h2 {
  text-align: center;
  margin: 0 0 20px;
}

.form {
  padding: 30px 40px;
}

.form-control {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.form-control label {
  display: block;
  color: var(--label-color);
  margin-bottom: 10px;
  transition: color 0.3s ease-in-out;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  font-size: 14px;
  padding: 10px;
  display: block;
  width: 100%;
}

.form-control input:focus {
  outline: none;
  border: 2px solid #777;
}

.form-control input::placeholder {
  font-size: 12px;
  font-family: 'Nanum Gothic', Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.4);
}

.form-control.success input {
  border: 2px solid var(--success-color);
}

.form-control.error input {
  border: 2px solid var(--error-color);
}

.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
  font-size: 10px;
}

.form-control.error small {
  visibility: visible;
}

.form button {
  outline: 0;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  display: block;
  padding: 10px;
  width: 100%;
  font-family: 'Nanum Gothic';
  margin-top: 20px;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: black;
    color: white;
  }
  .form-control label {
    color: white;
  }
}
