@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

:root {
  --modal-duration: 0.5s;
  --primary-color: #243754;
  --secondary-color: #94ae3f;
}

* {
  box-sizing: border-box;
  font-family: 'Nanum Gothic';
}

p {
  line-height: 25px;
}

body {
  font-size: 14px;
  margin: 0px;
}

body.show-nav {
  transform: translateX(250px);
  transition: transform 0.5s ease;
}

nav {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: var(--primary-color);
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  z-index: 100;
  transform: translateX(-100%);
}

nav .logo {
  text-align: center;
  padding: 40px 0px;
}

nav .logo img {
  width: 75px;
  height: 75px;
  border-radius: 50px;
}

nav ul {
  padding: 0px;
  color: white;
  list-style: none;
}

nav ul li {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

nav ul li:nth-of-type(1) {
  border-top: 2px solid rgba(255, 255, 255, 0.5);
}

nav ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  display: block;
  padding: 20px;
  transition: background-color 0.3s;
}

nav ul li a i {
  margin-right: 10px;
}

nav ul li a:hover {
  opacity: 0.5;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: white;
  padding: 40px 15px;
}

header h1 {
  margin: 0px;
}

header p {
  margin: 30px 0px;
  max-width: 100%;
  width: 800px;
  text-align: center;
  line-height: 20px;
}

button,
input[type='submit'] {
  background-color: var(--secondary-color);
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

header .toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.6);
}

header .cta-btn {
  padding: 12px 30px;
  font-size: 16px;
  cursor: pointer;
}

header .cta-btn:hover {
  box-shadow: 0 0px 7px var(--secondary-color);
}

button:focus {
  outline: none;
}

.container {
  max-width: 100%;
  width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.modal-container.show-modal {
  display: block;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  max-width: 100%;
  width: 450px;
  animation-name: fadeIn;
  animation-duration: var(--modal-duration);
}

.modal .close-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  background: transparent;
  font-size: 20px;
}

.modal-header {
  background-color: var(--primary-color);
  padding: 15px;
  color: white;
}

.modal-header h2 {
  margin: 0px;
}

.modal-content {
  padding: 20px;
}

.modal-content p {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 5px;
}

.modal-form div {
  margin: 15px 0;
}

.modal-content label {
  display: block;
  margin-bottom: 10px;
}

.modal-content .form-input {
  padding: 8px;
  width: 100%;
}

.container ul {
  margin-bottom: 20px;
}

.container li {
  margin-bottom: 5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
