@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

:root {
  --modal-duration: 1s;
  --primary-color: #60a3bc;
}

* {
  box-sizing: border-box;
  font-family: 'Nanum Gothic';
}

body {
  font-size: 14px;
  margin: 0px;
}

nav {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: var(--primary-color);
  /* transform: translateX(-100%); */
}

nav .logo {
  text-align: center;
  padding: 40px 0px;
}

nav .logo img {
  width: 75px;
  height: 75px;
  border-radius: 50px;
}

nav ul {
  padding: 0px;
  color: white;
  list-style: none;
}

nav ul li {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

nav ul li:nth-of-type(1) {
  border-top: 2px solid rgba(255, 255, 255, 0.2);
}

nav ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  display: block;
  padding: 20px;
  transition: background-color 0.3s;
}

nav ul li a i {
  margin-right: 10px;
}

nav ul li a:hover {
  background-color: #82ccdd;
}
